.hide {
  display: none;
}

textarea {
  display: block;
  background: transparent;
  border: none;
  outline: none;
  resize: none;
  width: 100%;
  font-weight: 700;
  border-bottom: 3px solid #545149;
}

.form-flex-group {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.counter {
  font-family: "Bungee";
  color: #545149;
}

.submit-btn:hover {
  box-shadow: 4px 4px #fc6500;
}

.submit-btn {
  border: none;
  background-color: #4056A1;
  color: azure;
  font-family: "Bungee";
  font-size: 18px;
  outline: 0;
  cursor: pointer;
}

.gone-over-limit {
  color: red;
}

#validation-error {
  margin-bottom: 1em;
  height: 2em;
  width: auto;
  background-color: rgba(255, 0, 0, 0.75);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.fa-exclamation-triangle {
  color: black;
}

#error-message {
  color: black;
}

#error-container {
  display: none;
}